* {
    background-color: darkgray;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a {
    border: 1px solid white;
}

img {
    border-radius: 5%;
}